git+https://github.com/hubmapconsortium/sprm@8f24b707765a3baad33ea0ac01eb61e523f49a4a
git+https://github.com/hubmapconsortium/ome-utils@v0.3.5
matplotlib
pandas
pims
scipy
numba
numpy
anndata==0.12.7
xarray-spatial
packaging<25.0
aicsimageio